*{
margin:0;
padding:0;
font-family:Arial;
}

.hero{
position:relative;
height:100vh;
overflow:hidden;
}

#bgVideo{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
z-index:-1;
}

.hero-text{
color:white;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
}

button{
padding:12px 24px;
background:#00eaff;
border:none;
color:black;
cursor:pointer;
transition:0.3s;
}

button:hover{
box-shadow:0 0 20px #00eaff;
}
